parameters:
    level: 5
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    excludePaths:
        analyse:
            - vendor
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
